html, body{
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0
}
body{
    display: flex
}
.list{
    height: 100%;
    width: 250px;
    border-right: 1px solid #333;
    overflow: auto;
}
.content{
    height: 100%;
    width: calc(100vw - 250px);
    border: none;
    outline: none;
    overflow: auto;
}
.item{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 50px;
    border-bottom: 1px solid #ccc;
    cursor: pointer;
    transition: .3s ease;
}
.item:hover{
    background: #eee
}
.marker{
    width: 8px;
    height: 100%;
    background: #bbb;
    margin-right: 15px;
    transition: .3s ease;
}
.item-active .marker{
    background: #39f
}